body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(0 0 0 / 90%);
}
footer {
    margin-top: auto;
    width: 95vw;
    position: relative;
    display: flex;
    height: 20vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(179deg, #fff, rgb(0 0 0 / 90%), transparent);
}

.fa-brands:hover {
    color: #f3420d;
}
.fa-facebook {
    color: #1877f2;
}
.fa-twitter {
    color: #1da1f2;
}
.fa-linkedin {
    color: #0a66c2;
}
main {
    display: flex;
    flex-direction: row;
}

p {
    color: white;
}

h1 {
    color: white;
}

.projectForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    border: solid 2px black;
    border-radius: 15px;
    color: white;
}
form > div {
    text-align: center;
    margin: auto;
}
label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"],
textarea {
    width: 85%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="file"] {
    margin-bottom: 10px;
}
.searchBtn {
    max-width: 40px;
    padding: 10px 10px;
}
button[type="submit"] {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    color: #f3420d;
    box-shadow: -1px -1px 10px 3px rgb(0 0 0 / 90%) inset;
    transform: scale(1);
    transition-duration: 0.6s;
    border-color: #f3420d;
}

.form_content_auth {
    border: 2px solid black;
    border-color: #f3420d;
    border-radius: 15px;
    padding: 100px 50px 100px 50px;
    color: white;
}

.sectionHeader {
    height: 8%;
    width: 100%;
    position: relative;
    text-align: center;
    border: solid 3px black;
    border-radius: 15px;
    background: brown;
    color: white;
    margin-bottom: 5px;
}
.container {
    display: flex;
    align-items: center;
    margin: auto;
}
.error {
    display: flex;
    flex-direction: column;
}
.error > button {
    padding: 10px;
    width: 100px;
    margin: auto;
    margin-top: unset;
}
#socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#banner {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;
    border: solid 2px black;
    margin-bottom: 5px;
    background: linear-gradient(0deg, #fff, rgb(0 0 0 / 90%), transparent);
    overflow: hidden;
}
.banner-image-wrapper {
    width: 100%;
}
.banner-image {
    transition: all 0.5s ease-in-out;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.Photo {
    max-width: 320px;
    max-height: 400px;

    float: right;
    position: relative;
    height: 15vh;
    width: 50%;
    border: solid 8px #f3420d;
    border-style: inset;
    box-shadow: -1px -1px 10px 3px rgb(0 0 0 / 90%);
}

.mobilemenubar {
    display: flex;
    justify-content: center;
    border: 3px solid;
    height: 3vh;
    border-radius: 25px 5px 25px 5px;
    background-color: #333;
    color: #fff;
}
/*----MobileMenu----*/
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}
.dropdown_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dropdown_icon {
    font-size: 1.3rem;
    transition: 0.5s;
}

.dropdown_menu {
    display: none;
}

.dropdown_element {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    border-radius: 25px 5px 25px 5px;
    background-color: #333;
    color: #fff;
    padding: 5px 30px 5px 30px;
    width: 10em;
    height: 3em;
    border: solid 5px rgb(250, 249, 249);
    z-index: 100;
}

.dropdown:hover > .dropdown_menu {
    display: block;
    color: #f3420d;
    box-shadow: -1px -1px 10px 3px rgb(0 0 0 / 90%) inset;
    transform: scale(1);
    transition-duration: 0.6s;
    border-color: #f3420d;
}

.dropdown:hover .dropdown_icon {
    transform: rotate(180deg);
}

/*---Login Form---*/

/*--- Media Queries ---*/
@media only screen and (min-width: 320px) and (max-width: 1023px) {
    .NavMenu {
        display: none;
    }
    main {
        display: block;
    }
    .container {
        position: relative;
        top: 5vh;
    }
    .NavMenuHeader {
        display: none;
    }
    .column1 {
        display: none;
    }
    .Photo {
        overflow: hidden;
        float: right;
        position: relative;
        height: min-content;
        width: min-content;
        right: -6%;
    }
    #banner {
        overflow: hidden;
    }
    .dropdown_element {
        z-index: 100;
    }
}
@media only screen and (min-width: 375px) and (max-width: 425px) {
    .Photo {
        right: 7%;
    }
    .mobilemenubar {
        height: 4vh;
    }
    .nav_menu ul {
        position: relative;
        z-index: 100;
    }
    .searchArea {
        margin-top: 15px;
    }
    .admin_column2 > a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        color: white;
        padding: 0.4em;
        border-radius: 30px 30px 30px 30px;
        background-color: #2e7ef7;
        width: 30%;
        text-align: center;
        margin-bottom: 10px;
        box-shadow: -1px 5px 5px 1px rgb(0 0 0 / 90%);
    }
    .project_preview {
        max-width: 300px;
        max-height: 300px;
        border: 2px #f3420d solid;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        margin: auto;
        margin-bottom: 60px;
    }
    .TextDescription {
        display: none;
    }

    .project_preview img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .desc {
        color: white;
    }
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        margin-top: 20px;
    }

    .buttons > a {
        margin: auto;
        color: white;
        padding: 0.4em;
        border-radius: 30px 30px 30px 30px;
        background-color: #333;
        width: 30%;
        text-align: center;
        margin-bottom: 10px;
        border: 2px solid white;
        box-shadow: -1px 5px 5px 1px rgb(0 0 0 / 90%);
    }
    .buttons > a:hover {
        color: #f3420d;
        box-shadow: -1px -1px 10px 3px rgb(0 0 0 / 90%) inset;
        transform: scale(1);
        transition-duration: 0.6s;
        border-color: #f3420d;
    }
    #socials {
        position: relative;
        bottom: -10%;
    }
    .diaporama {
        width: 100%;
        justify-content: unset;
    }

    .element > img {
        max-width: 100%;
        overflow: hidden;
        height: auto;
    }
    .btngauche {
        position: absolute;
        bottom: 10%;
        left: 5%;
    }

    .btndroite {
        position: absolute;
        bottom: 10%;
        right: 5%;
    }

    .play {
        position: absolute;
        bottom: 5%;
        left: 45%;
    }

    .pause {
        position: absolute;
        bottom: 5%;
        right: 45%;
    }

    .btngauche i,
    .btndroite i,
    .play i,
    .pause i {
        font-size: 2rem;
    }
    #ProjectDescription {
        font-size: 1.5rem;
        line-height: 1.8;
        padding: 1rem;
        color: white;
    }

    .commentaire {
        font-size: 1.2rem;
        line-height: 1.5;
        padding: 1rem;
    }
    .comment {
        position: relative;
        width: 70%;
        color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
    .ModerationsectionHeader ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 5px;
        list-style: none;
    }
    .ModerationsectionHeader li {
        border: 2px solid white;
        border-radius: 15px;
        width: 33%;
        text-align: center;
        padding: 10px;
        background: #333;
        position: relative;
    }
    .commentBox {
        overflow: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        background: #333;
        border-radius: 15px;
        padding: 5px;
        border: solid rgb(255, 252, 252) 5px;
        border-style: inset;
    }

    .commentButtons {
        margin: auto;
    }
    .commentButtons a {
        border: 2px solid;
        background-color: #2e7ef7;
        padding: 10px 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        color: #ebe7e7;
        text-decoration: none;
        display: inline-block;
    }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
    .Photo {
        right: 12%;
    }
    .nav_menu ul {
        position: relative;
        z-index: 100;
    }
    .diaporama {
        width: 100%;
        justify-content: unset;
    }
    .elements {
        display: flex;
        overflow: hidden;
    }
    .element {
        display: contents;
    }
    .buttons {
        margin-top: 20px;
    }

    .buttons > a {
        margin: auto;
        color: white;
        padding: 0.4em;
        border-radius: 30px 30px 30px 30px;
        background-color: #333;
        width: 30%;
        text-align: center;
        margin-bottom: 10px;
        border: 2px solid white;
        box-shadow: -1px 5px 5px 1px rgb(0 0 0 / 90%);
    }
    .buttons > a:hover {
        color: #f3420d;
        box-shadow: -1px -1px 10px 3px rgb(0 0 0 / 90%) inset;
        transform: scale(1);
        transition-duration: 0.6s;
        border-color: #f3420d;
    }

    .comment {
        position: relative;
        width: 70%;
        color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
    .ModerationsectionHeader ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 5px;
        list-style: none;
    }
    .ModerationsectionHeader li {
        border: 2px solid white;
        border-radius: 15px;
        width: 33%;
        text-align: center;
        padding: 10px;
        background: #333;
        position: relative;
    }
    .commentBox {
        overflow: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        background: #333;
        border-radius: 15px;
        padding: 5px;
        border: solid rgb(255, 252, 252) 5px;
        border-style: inset;
    }

    .commentButtons {
        margin: auto;
    }
    .commentButtons a {
        border: 2px solid;
        background-color: #2e7ef7;
        padding: 10px 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        color: #ebe7e7;
        text-decoration: none;
        display: inline-block;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .Photo {
        right: 1%;
    }
    .dropdown_element a {
        text-align: center;
    }
    .project_preview {
        max-width: 300px;
        max-height: 300px;
        border: 2px #f3420d solid;
        display: flex;
        color: white;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        margin-bottom: 60px;
    }

    .project_preview img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .addComment {
        margin: auto;
        color: white;
        padding: 0.4em;
        border-radius: 30px 30px 30px 30px;
        background-color: #333;
        width: 30%;
        text-align: center;
        margin-bottom: 10px;
        border: 2px solid white;
        box-shadow: -1px 5px 5px 1px rgb(0 0 0 / 90%);
        bottom: 6%;
        position: absolute;
    }
    .addComment > a:hover {
        color: #f3420d;
        box-shadow: -1px -1px 10px 3px rgb(0 0 0 / 90%) inset;
        transform: scale(1);
        transition-duration: 0.6s;
        border-color: #f3420d;
    }
    #commentbox {
        overflow: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        background: #333;
        border-radius: 15px;
        padding: 5px;
        border: solid rgb(255, 252, 252) 5px;
        border-style: inset;
        color: white;
    }
    .nav_menu ul {
        position: relative;
        z-index: 100;
        top: 16%;
    }
    .mobilemenubar {
        height: 4vh;
    }
    .nav_menu ul {
        position: relative;
        z-index: 100;
    }
    .searchArea {
        margin-top: 15px;
    }
    .admin_column2 > a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        color: white;
        padding: 0.4em;
        border-radius: 30px 30px 30px 30px;
        background-color: #2e7ef7;
        width: 30%;
        text-align: center;
        margin-bottom: 10px;
        box-shadow: -1px 5px 5px 1px rgb(0 0 0 / 90%);
    }

    .TextDescription {
        display: none;
    }

    .project_preview img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .desc {
        color: white;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        margin-top: 20px;
    }

    .buttons > a {
        margin: auto;
        color: white;
        padding: 0.4em;
        border-radius: 30px 30px 30px 30px;
        background-color: #333;
        width: 30%;
        text-align: center;
        margin-bottom: 10px;
        border: 2px solid white;
        box-shadow: -1px 5px 5px 1px rgb(0 0 0 / 90%);
    }
    .buttons > a:hover {
        color: #f3420d;
        box-shadow: -1px -1px 10px 3px rgb(0 0 0 / 90%) inset;
        transform: scale(1);
        transition-duration: 0.6s;
        border-color: #f3420d;
    }
    .diaporama {
        width: 100%;
        justify-content: unset;
    }
    .elements {
        display: flex;
        overflow: hidden;
    }
    .element {
        display: contents;
    }

    .element > img {
        max-width: 100%;
        height: auto;
    }
    .btngauche {
        position: absolute;
        bottom: 55%;
        left: 2%;
    }

    .btndroite {
        position: absolute;
        bottom: 55%;
        right: 2%;
    }

    .play {
        position: absolute;
        bottom: 45%;
        left: 35%;
    }

    .pause {
        position: absolute;
        bottom: 45%;
        right: 35%;
    }

    .btngauche i,
    .btndroite i,
    .play i,
    .pause i {
        font-size: 2rem;
    }
    .comment {
        position: relative;
        width: 70%;
        color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
    .ModerationsectionHeader ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 5px;
        list-style: none;
    }
    .ModerationsectionHeader li {
        border: 2px solid white;
        border-radius: 15px;
        width: 33%;
        text-align: center;
        padding: 10px;
        background: #333;
        position: relative;
    }
    .commentBox {
        overflow: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        background: #333;
        border-radius: 15px;
        padding: 5px;
        border: solid rgb(255, 252, 252) 5px;
        border-style: inset;
    }

    .commentButtons {
        margin: auto;
    }
    .commentButtons a {
        border: 2px solid;
        background-color: #2e7ef7;
        padding: 10px 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        color: #ebe7e7;
        text-decoration: none;
        display: inline-block;
    }
    #socials {
        position: relative;
        bottom: -10%;
    }
    #ProjectDescription {
        font-size: 1.5rem;
        line-height: 1.8;
        padding: 1rem;
        color: white;
    }
}

@media only screen and (min-width: 1024px) {
    footer {
        width: 100%;
    }
    .admincontainers {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
    }

    .containers {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .btn-sm {
        position: absolute;
        top: 35%;
    }
    .Photo > form {
        position: absolute;
        bottom: 10%;
    }
    #ProjectDescription {
        min-width: 50%;
        padding: 10px;
        color: white;
    }
    #commentbox {
        min-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    .commentaire {
        border: 2px solid white;
        margin-top: 3px;
        background-color: #333;
        border-radius: 15px;
        padding: 10px;
    }
    .commentaire:hover {
        box-shadow: -1px -1px 10px 3px rgb(0 0 0 / 90%) inset;
        transform: scale(1);
        transition-duration: 0.6s;
        border-color: #f3420d;
    }
    .column2 {
        position: relative;
        width: 70%;
        color: white;
        height: 100%;
        display: flex;

        flex-direction: column;

        margin-top: 15px;
    }
    .column1 {
        position: relative;
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .admin_column2 {
        width: 100%;
        border: inset 4px;
        margin: 5px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .searchArea {
        display: flex;
        margin: auto;
    }
    .searchArea button {
        padding: 10px;
    }
    .project_preview {
        margin-top: 10px;
        max-width: 30%;
    }
    #projectList {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    #searchInfo {
        text-align: center;
    }
    .project_list {
        display: flex;
        justify-content: space-around;
    }

    .project_preview > a {
        height: 250px;
        border: solid #f3420d;
        border-bottom: none;
        display: block;
        border-radius: 30px 30px 0px 0px;
        overflow: hidden;
    }
    .project_preview > .desc {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        min-height: 240px;
        max-height: 280px;
        border: 2px solid #f3420d;
        color: white;
        border-top: none;
        padding: 10px;
    }
    .project_preview > a > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .project_preview span {
        border: 2px solid black;
        width: 25%;
        border-radius: 10px;
        padding: 2px;
        text-align: center;
        margin-left: 5px;
        font-weight: bold;
        color: black;
        background-color: bisque;
    }
    .project_preview > .Mission span {
        border: 2px solid black;
        width: 25%;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
        margin-left: 5px;
        font-weight: bold;
        color: black;
        background-color: #c4e2ff;
    }
    .Mission {
        padding-top: 7px;
    }
    .desc > a {
        color: #f3420d;
    }
    .desc > a:hover {
        color: #f7f5f4;
    }
    #ProjectDescription span {
        border: 2px solid black;
        width: 25%;
        border-radius: 10px;
        padding: 2px;
        text-align: center;
        margin-left: 5px;
        font-weight: bold;
        color: black;
        background-color: bisque;
    }
    #ProjectDescription > .Mission span {
        border: 2px solid black;
        width: 25%;
        border-radius: 10px;
        padding: 2px;
        text-align: center;
        margin-left: 5px;
        font-weight: bold;
        color: black;
        background-color: #c4e2ff;
    }
    .form-control {
        display: flex;
    }

    /*--- Diaporama ---*/
    .carousel {
        max-width: 100%;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .carousel-caption {
        text-align: center;
    }

    .diaporama {
        width: 100%;
        flex-flow: row wrap;
        display: flex;
        justify-content: space-between;
    }
    .diaporama > a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        color: #f3420d;
        border: solid 2px #f3420d;
        padding: 0.4em;
        border-radius: 30px 30px 30px 30px;
        background-color: #333;
        width: 30%;
        text-align: center;
        margin-bottom: 10px;
        box-shadow: -1px 5px 5px 1px rgb(0 0 0 / 90%);
    }
    .diaporama > a:hover {
        color: white;
        border: solid 2px white;
    }
    .conteneur {
        width: 100%;
        border: 1px solid black;
        position: relative;
        overflow: hidden;
        background-color: white;
    }
    .elements {
        display: flex;
        transition: 1s linear;
    }

    .element {
        flex: 1 0 100%;
        position: relative;
    }

    .element > img {
        width: 100%;
        height: 102%;
    }
    .btngauche {
        position: absolute;
        bottom: 40%;
    }
    .btndroite {
        position: absolute;
        bottom: 40%;
        right: 0%;
    }

    .pause {
        position: absolute;
        bottom: 5%;
        left: 50%;
    }
    .play {
        position: absolute;
        bottom: 5%;
        right: 55%;
    }
    /*     .success {
        position: relative;
        left: 32%;
        display: flex;
        max-height: 50px;
        border: 2px solid black;
    } */
    /*     .success > button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    } */
    .admin_column2 > a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        color: white;
        padding: 0.4em;
        border-radius: 30px 30px 30px 30px;
        background-color: #2e7ef7;
        width: 30%;
        text-align: center;
        margin-bottom: 10px;
        box-shadow: -1px 5px 5px 1px rgb(0 0 0 / 90%);
    }
    .success {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        max-height: 5%;
    }
    .success li {
        list-style: none;
    }
    .searchbar {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .desc > a {
        display: contents;
    }
    .buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .buttons > a {
        margin: auto;
        color: white;
        padding: 0.4em;
        border-radius: 30px 30px 30px 30px;
        background-color: #333;
        width: 30%;
        text-align: center;
        margin-bottom: 10px;
        border: 2px solid white;
        box-shadow: -1px 5px 5px 1px rgb(0 0 0 / 90%);
    }
    .buttons > a:hover {
        color: #f3420d;
        box-shadow: -1px -1px 10px 3px rgb(0 0 0 / 90%) inset;
        transform: scale(1);
        transition-duration: 0.6s;
        border-color: #f3420d;
    }

    .NavMenu {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
    .NavMenu input {
        text-transform: uppercase;
        display: inline-block;
        min-width: 265px;
        max-width: 75%;
        text-align: center;
        margin: 0.9em;
        padding: 1.6em;
        border-radius: 25px 5px 25px 5px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        will-change: transform;
        font-size: 1.05rem;
        box-shadow: -1px 5px 5px 1px rgb(0 0 0 / 90%);
        border: 2px solid white;
    }
    .nav_menu ul {
        position: relative;
        z-index: 100;
    }
    .Options {
        display: flex;
        flex-direction: column;
    }
    .NavMenu a {
        text-transform: uppercase;
        display: inline-block;
        min-width: 215px;
        max-width: 75%;
        text-align: center;
        margin: 0.9em;
        padding: 1.6em;
        border-radius: 25px 5px 25px 5px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        will-change: transform;
        font-size: 1.05rem;
        box-shadow: -1px 5px 5px 1px rgb(0 0 0 / 90%);
        border: 2px solid white;
    }
    .NavMenu a:hover {
        color: #f3420d;
        box-shadow: -1px -1px 10px 3px rgb(0 0 0 / 90%) inset;
        transform: scale(1);
        transition-duration: 0.6s;
        border-color: #f3420d;
    }
    .NavMenu input:hover {
        background-color: #333;
        color: #f3420d;
        border-color: #f3420d;
        box-shadow: -1px -1px 10px 3px rgb(0 0 0 / 90%) inset;
        transform: scale(1);
        transition-duration: 0.6s;
    }
    .ModerationsectionHeader a {
        color: #fff;
        font-weight: bold;
    }
    .ModerationsectionHeader a:hover {
        color: #f3420d;
        font-weight: bold;
    }
    .ModerationsectionHeader li:hover {
        color: #f3420d;
        box-shadow: -1px -1px 10px 3px rgb(0 0 0 / 90%) inset;
        transform: scale(1);
        transition-duration: 0.6s;
        border-color: #f3420d;
    }
    .NavMenuHeader {
        display: flex;
        justify-content: center;
    }
    .TagSection {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
    }

    .TagSection > div {
        margin-right: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .TagSection > div:last-child {
        margin-right: 0;
    }

    #socials {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    #socials > a {
        padding: 70px;
        padding-left: 10px;
        color: white;
    }
    #socials > a:hover {
        color: #f3420d;
    }
    .mobilemenubar {
        display: none;
    }
    .Photo {
        float: right;
        position: relative;
        height: min-content;
        width: min-content;
        right: -6%;
    }
    #banner1 {
        clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    }
    #banner2 {
        clip-path: polygon(25% 0%, 100% 0%, 76% 100%, 0% 100%);
    }
    #banner3 {
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    .image1-expanded {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
        background-size: cover;
    }

    .image2-expanded {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
        background-size: cover;
    }

    .image3-expanded {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
        background-size: cover;
    }

    .Formulaire {
        display: flex;
        justify-content: center;
        background: linear-gradient(354deg, #f3420d, #7c6666, transparent);
        min-height: 100%;
        align-items: center;
        flex-direction: column;
        margin: 25px;
        padding: 65px;
    }
    form h1 {
        text-align: center;
        font-size: 18px;
    }
    .formcontainer {
        text-align: left;
        margin: 24px 50px 12px;
    }
    .Formulaire form {
        border: 3px solid #f1f1f1;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    }
    .Formulaire input[type="email"],
    .Formulaire input[type="password"] {
        width: 100%;
        padding: 16px 8px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    form button {
        background-color: #1877f2;
        color: white;
        padding: 14px 0;
        margin: 10px 0;
        border: none;
        cursor: grabbing;
        width: 100%;
        border-radius: 15px;
    }
    .ModerationsectionHeader ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 5px;
        list-style: none;
    }
    .ModerationsectionHeader li {
        border: 2px solid white;
        border-radius: 15px;
        width: 33%;
        text-align: center;
        padding: 10px;
        background: #333;
        position: relative;
    }
    .ModerateCommentList h1 {
        text-align: center;
        font-size: x-large;
    }
    .ModerateCommentList h2,
    h3 {
        font-size: medium;
    }
    .commentBox {
        overflow: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        background: #333;
        border-radius: 15px;
        padding: 5px;
        border: solid rgb(255, 252, 252) 5px;
        border-style: inset;
    }
    .commentBox:hover {
        box-shadow: -1px -1px 10px 3px rgb(0 0 0 / 90%) inset;
        transform: scale(1);
        transition-duration: 0.6s;
        border-color: #f3420d;
    }

    .commentButtons {
        margin: auto;
    }
    .commentButtons a {
        border: 2px solid;
        background-color: #2e7ef7;
        padding: 10px 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        color: #ebe7e7;
        text-decoration: none;
        display: inline-block;
    }
    .ping {
        display: none;
        position: absolute;
        top: -10px;
        right: 0;
        padding: 2px 5px;
        background-color: red;
        color: white;
        border-radius: 50%;
    }

    .StatBody h1 {
        text-align: center;
    }
    .StatBody ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1440px) {
        .NavMenu a {
            min-width: 145px;
            padding: 1.3em;
        }
    }
}
